<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow users="EJ Alexandra,auto2@kalliopi.com,Eric Preston" />
            <deny users="*" />
        </authorization>
    </system.web>
    <system.webServer>
        <security>
            <authorization bypassLoginPages="false" />
        </security>
    </system.webServer>
</configuration>
